@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

.containerDD {
  width: 40vw;
  height: 90vh; /* Adjusted to occupy 90% of viewport height */
  margin: auto; /* Centering the container horizontally */
  padding: 20px;
  margin-left: 20px;
  border-radius: 10px;
  border: #d9d9d9 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info .cloud {
  width: 125.17px;
  height: 141px;
  background-image: url(../assets/upload.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 100px;
}

.info span {
  margin-left: 100px;
  font-family: "DM Sans", serif;
  font-size: 24px;
  font-weight: 500;
  color: #0e7189;
}

.info p {
  font-family: "DM Sans", serif;
  font-size: 20px;
  color: rgba(14, 113, 137, 0.3);
}

button {
  width: 280px;
  height: 94px;
  border: #1193b2 1px solid;
  color: #1193b2;
  background-color: #fbf8f6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
