@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.navbar {
  width: 90%;
  height: 54px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  background-color: transparent;
  padding: 0 20px;
  margin: 0 auto;
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 1000;
  font-size: 16px;
}

.logo {
  width: 170px;
  height: 33.78px;
  background-image: url(../assets/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.menu {
  display: flex;
  gap: 55px;
}

.menu-item {
  color: #1193b2;
  text-decoration: none;
  font-weight: normal;
  transition: color 0.3s ease;
  padding: 8px 16px;
  position: relative;
  display: inline-block;
}

.contact-us {
  color: #1193b2;
  border: none;
  text-decoration: none;
  font-weight: normal;
  transition: color 0.3s ease;
  padding: 8px 16px;
  position: relative;
  display: inline-block;
}

.menu-item:hover::before,
.contact-us:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0e7189;
  border-radius: 20px;
  z-index: -1;
}

.menu-item:hover,
.contact-us:hover {
  color: white;
}
