@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

.navbar {
  width: 90%;
  height: 54px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  background-color: #FBF8F6;
  padding: 0 20px;
  margin: 0 auto;
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 1000;
  font-size: 16px;
}

.logo {
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  text-decoration: none;
  color: #0e7189;
}

.logo:hover {
  color: #0e7189;
}

.menu {
  display: flex;
  gap: 55px;
}

.menu-item,
.contact-us {
  color: #1193b2;
  text-decoration: none;
  font-weight: normal;
  transition: color 0.3s ease;
  padding: 8px 30px;
  position: relative;
  display: inline-block;
}
.contact-us {
  right: 20%;
}
.menu-item:hover::before,
.contact-us:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0e7189;
  border-radius: 20px;
  z-index: -1;
}

.menu-item:hover,
.contact-us:hover {
  color: white;
}


/* incomplete */
@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px; /* Add left padding to the navbar */
  }

  .logo {
    margin-bottom: 20px; /* Add bottom margin to create space between logo and menu items */
  }

  .menu {
    display: flex;
    flex-direction: column; /* Stack menu items in a column */
    margin-bottom: 20px; /* Add bottom margin to create space between menu items and contact us button */
  }

  .contact-us {
    margin-left: 20px; /* Add left margin to match the menu items */
  }
}
