@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 25vw;
  height: 100vh;
  background-color: #0B3052;
  color: #fff;
  left: 0;
}

#sidebar .sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#sidebar .logo {
  width: 200px;
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  text-decoration: none;
  color: #f0f0f0;
  margin-top: 35px;
  margin-left: 100px;
  left: 15%;
}

#sidebar .logo a {
  color: #f0f0f0;
  text-decoration: none;
}

.history {
  margin-top: 20px;
  text-align: left;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-weight: 700;
  margin-top: 15px;
  color: #f0f0f0;
}

.history p {
  font-size: 16px;
  margin-bottom: 10px;
  columns: #b5b5b5;
  margin-left: 10px;
}
