@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

.containerE {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 0 !important;
  border: none;
  top: 0%;
}

.sidebar {
  flex: 1;
  color: #f0f0f0;
  width: 100%;
}

.dragdrop {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.report {
  flex: 1;
  height: 100vh;
  overflow: scroll;
}
.content {
  flex: 1;
  margin: auto;
  padding-left: 5%;
}

.content .how,
.content .upgrade {
  margin-right: 10%;
}
.content .how .ins {
  margin-left: 10%;
  font-family: "DM Serif Display", serif;
  font-size: 20px;
  color: #0b3052;
}

.content .how div p {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: rgba(11, 48, 82, 0.5);
}

.content .upgrade .up {
  margin-left: 15%;
  margin-top: 15%;
  font-family: "DM Serif Display", serif;
  color: #1193b2;
  font-size: 20px;
}

.content .upgrade div p {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: rgba(17, 147, 178, 0.5);
}
