@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

.main {
  width: 100%;
  height: auto;
  margin-top: 12%;
  margin-left: 13%;
  display: flex;
  justify-content: center;
}

body {
  background-color: #fbf8f6;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  color: #1193b2;
}

.content em {
  color: rgba(17, 147, 178, 0.75);
  font-size: 40px;
  letter-spacing: 45px;
  font-style: italic;
  font-weight: 400;
}

.content em span {
  margin-right: -45px;
}

.content h1 {
  font-size: 85px;
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #104b59;
}

.content .sc {
  border-bottom: 1px solid #1193b2;
  width: min-content;
}

.content .precise {
  font-size: 24px;
  color: rgba(79, 79, 79, 0.5);
  font-style: italic;
  margin-left: 50%;
  margin-top: 10px;
}

.content .precise .with {
  font-size: 20px;
}

.content .precise .precision-expertise {
  font-size: 32px;
}

.content .buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

.sideimage {
  width: 468.89px;
  height: 531px;
  margin-left: 125px;
  background-image: url(../assets/homepage.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .main {
    margin-top: 30%;
    margin-left: 0;
    display: block;
    padding: 0 20px;
  }
  .sideimage {
    display: none;
  }
}